body{
  background-color: #F0F0F0;
}

nav ul{
  display: inline-block;
  float: right;
}

nav li{
  display: inline-block;
}

footer{
  list-style-type: none;
  position: fixed;
  bottom: 0;
  display: inline-block;
}

footer li{
  display: inline-block;
}

.menuItem a{
  display: block;
  font-size: 20px;
  color: #2E8B57;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.menuItem a:hover {
  background-color: #D3D3D3;
  border-radius: 5px;
}

#banner{
  width: 100%;
  height: 300px;
}

#love, #community, #truth{
  float: left;
  margin-left: 100px;
}